@charset "utf-8";

@import "_spectre.scss";
//@import "spectre.css/src/spectre-exp";
//@import "spectre.css/src/spectre-icons";

/* https://bitsofco.de/the-new-system-font-stack/ */
$base-font-family: "-apple-system", "system-ui", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell";
$fallback-font-family: "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.btn-primary {
  @include button-variant($primary-color);
}

body {
  max-width: 40em;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f7f8f9;
}

.icon.icon-2x {
  font-size: 1.2rem;
}

.topbar {
  padding: 0.5rem 0.5em 0;
  display: flex;
  justify-content: space-between;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0;
}

h1.time {
  margin: 1rem 0 2rem;
}

.title {
  font-weight: bold;
  flex-grow: 1;
}

.divider {
  border-color: #5755d9;
}

.empty {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.has-icon-left .form-icon {
  left: unset;
}

.list, .preferences {
  flex: 1 1 auto;
  overflow-y: auto;
}

.list-item {
  padding: 0.2em 0.5em;
  height: 3.5em;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}

@media (min-width: 1280px) {
  body {
    font-size: 18px;
  }

  .footer p {
    margin: 0.8rem;
  }
}

.list-item + .list-item {
  border-top: 1px solid lightgray;
}

.item-detail {
  line-height: 1em;
  display: grid;
  grid-template-columns: auto 20%;
}

.tab-preferences {
  margin-left: auto;
}

.form-checkbox .form-icon {
  height: 1.25em;
  width: 1.25em;
  top: 0.2rem;
}

.form-checkbox input:checked + .form-icon::before {
  height: 12px;
  margin-left: -4px;
  margin-top: -8px;
  width: 8px;
}

.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  border-top: 0.05em solid lightgray;
}

.footer p {
  margin: 0.6rem;
}
